<div class="modal modal-lg" tabindex="-1" id="modal-character">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> {{ character?.name! }} </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body d-flex flex-column flex-lg-row gap-3">
        <img [src]="character?.image" />

        <div class="d-flex flex-column gap-3 justify-content-between">
          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <span class="char-name">{{ character?.name }}</span>
            <span class="status">{{ character?.status }}</span>
          </div>

          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <span class="label">Specie</span>
            <span class="status">{{ character?.species }}</span>
          </div>

          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <span class="label">Origem</span>
            <span class="status">{{ character?.origin!.name }}</span>
          </div>

          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <span class="label">Localização</span>
            <span class="status">{{ character?.location!.name }}</span>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
