<div class="modal modal-lg" tabindex="-1" id="modal-character">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rick Sanches</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body d-flex flex-column flex-lg-row gap-3">
        <img src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" />

        <div class="d-flex flex-column gap-3 justify-content-between">
          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <span class="char-name">rick sanches</span>
            <span class="status">Alive</span>
          </div>

          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <span class="label">Specie</span>
            <span class="status">Human</span>
          </div>

          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <span class="label">Origem</span>
            <span class="status">Earth (C-137)</span>
          </div>

          <div class="d-flex flex-column align-items-center align-items-lg-start">
            <span class="label">Localização</span>
            <span class="status">Citadel of Ricks</span>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
