.navbar {
  padding: 12px 24px;
  background-color: var(--color-core-foreground) !important;
  border-bottom: 1px solid var(--color-core-border);
  height: var(--header-height);
  display: flex;
  flex-shrink: 1;

  .nav-wrapper{
    max-width: 1830px;
  }

  * {
    font-weight: var(--font-weight-600);
  }

  .btn-outline-primary {
    border-color: var(--color-core-border) !important;
    height: var(--sizing-xxl);
    border-radius: 0;
    padding: 8px 16px;

    &:first-child {
      border-radius: var(--border-radius-xs) 0 0 var(--border-radius-xs);
    }

    &:last-child {
      border-radius: 0 var(--border-radius-xs) var(--border-radius-xs) 0;
    }

    &:hover {
      background-color: inherit;
    }
  }

  .bi {
    font-size: 16px;
    color: var(--color-neutral-content);
  }

  span {
    font-size: 14px;
    color: var(--color-neutral-content);
  }

  .is-active {
    background-color: var(--color-neutral-surface);
    color: var(--color-neutral-content-onSource);

    * {
      color: var(--color-neutral-content-onSource);
    }

    &:hover {
      background-color: var(--color-neutral-surface);
    }
  }

  .badge {
    border: 1px solid var(--color-core-border);
    font-size: 10px;
    width: var(--sizing-s);
    height: var(--sizing-s);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-surface);
    color: var(--color-neutral-content-onSource);

    &.is-active {
      background-color: var(--color-core-foreground);
      color: var(--color-neutral-content);
    }
  }
}
