.custom-button {
  font-size: 14px;
  font-weight: var(--font-weight-600);
  border-radius: 12px;
  padding: 13px 16px;

  &.btn-filled {
    background-color: var(--color-neutral-surface);
    color: #0a0a0a;
    border: none;
  }

  &.btn-outline {
    background-color: transparent;
    color: var(--color-core-content-low);
    border: 1px solid var(--color-core-border);
  }
}
